<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CheckAllGoal</title>
    <link rel="stylesheet" href="/css/bootstrapV3/css/bootstrap.min.css" type="text/css">
    <!--[if lt ie 9]>
        <script src="/css/bootstrapV3/html5shiv.min.js" type="text/javascript"></script>
        <script src="/css/bootstrapV3/respond.min.js" type="text/javascript"></script>
    <![endif]-->
    <script src="/css/bootstrapV3/js/jquery.min.js" type="text/javascript"></script>
    <script src="/css/bootstrapV3/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
        <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>GoalID</th>
                                    <th>Name</th>
                                    <th>Group</th>
                                    <th>Manger</th>
                                    <th>Title</th>
                                    <th>Descript</th>
                                    <th>status</th>
                                    <th>Self-Eval</th>
                                    <th>MR-Eval</th>
                                    <th>MR-Grade</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="border-bottom:1px dashed #ccc;" th:each="mes :${CheckAllGoallists}">
                                    <td th:text="${mes[User_id]}">1</td>
                                    <td th:text="${mes[name]}">001</td>
                                    <td th:text="${mes[Group]}">001</td>
                                    <td th:text="${mes[Manager]}">001</td>
                                    <td th:text="${mes[Title]}">TB - Monthly</td>
                                    <td th:text="${mes[Describe]}">xxxxxx</td>
                                    <td th:text="${mes[status]}">xxxxxxx</td>
                                    <td th:text="${mes[selfEval]}">xxxxxx</td>
                                    <td th:text="${mes[MREval]}">xxxxxx</td>
                                    <td th:text="${mes[MRGrade]}">xxxxxx</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-success" type="button" style="margin-left:85%;">Print Excel</button>
                </div>
            </div>
    
</body>
</html>