<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>CheckEmGoal</title>
    <link rel="stylesheet" href="/css/bootstrapV3/css/bootstrap.min.css" type="text/css">
    <!--[if lt ie 9]>
        <script src="/css/bootstrapV3/html5shiv.min.js" type="text/javascript"></script>
        <script src="/css/bootstrapV3/respond.min.js" type="text/javascript"></script>
    <![endif]-->
    <script src="/css/bootstrapV3/js/jquery.min.js" type="text/javascript"></script>
    <script src="/css/bootstrapV3/js/bootstrap.min.js" type="text/javascript"></script>
</head>
<body>
        <div class="container-fluid">
                <div class="row-fluid">
                    <div class="span12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>UserID</th>
                                    <th>Name</th>
                                    <th>Group</th>
                                    <th>Title</th>
                                    <th>Descript</th>
                                    <th>DO_Data</th>
                                    <th>status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr style="border-bottom:1px dashed #ccc;" th:each="mes :${CheckEmGoallists}">
                                    <td th:text="${mes[userId]}">1</td>
                                    <td th:text="${mes[name]}">001</td>
                                    <td th:text="${mes[Group]}">测试</td>
                                    <td th:text="${mes[Title]}">TB - Monthly</td>
                                    <td th:text="${mes[describe]}">xxxxxx</td>
                                    <td th:text="${mes[DOData]}">01/04/2012</td>
                                    <td th:text="${mes[Status]}">Default</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    
</body>
</html>