<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dxc.activitidemo.performanceprocess.dao.EmEvalMapper">
  <resultMap id="BaseResultMap" type="com.dxc.activitidemo.performanceprocess.entity.EmEval">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="self_eval" jdbcType="VARCHAR" property="selfEval" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
  </resultMap>
  <resultMap id="MidTermGoal" type="com.dxc.activitidemo.performanceprocess.entity.MidTermGoal">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="Title" jdbcType="VARCHAR" property="title" />
    <result column="Descri" jdbcType="VARCHAR" property="descri" />
    <result column="Do_Data" jdbcType="VARCHAR" property="DoData" />
    <result column="status" jdbcType="VARCHAR" property="status" />
    <result column="Type" jdbcType="CHAR" property="type"/>
    <result column="Readonly" jdbcType="BIT" property="readonly" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="self_eval" jdbcType="VARCHAR" property="SelfEval" />
    <result column="grade" jdbcType="VARCHAR" property="grade" />
  </resultMap>
  <sql id="Base_Column_List">
    id, self_eval, grade
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from em_eval
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectByuserid" parameterType="java.lang.Integer" resultMap="MidTermGoal">
    SELECT DISTINCT
    RES1.id,
    RES1.Title,
    RES1.Descri,
    RES1.Do_Data,
    RES1.status,
    RES1.Type,
    RES1.Readonly,
    RES1.user_id,
    e.self_eval,
    e.grade
    FROM goal RES1
    INNER JOIN em_eval e ON e.id=RES1.user_id
    WHERE RES1.user_id= #{userid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from em_eval
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.dxc.activitidemo.performanceprocess.entity.EmEval">
    insert into em_eval (id, self_eval, grade
      )
    values (#{id,jdbcType=INTEGER}, #{selfEval,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.dxc.activitidemo.performanceprocess.entity.EmEval">
    insert into em_eval
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="selfEval != null">
        self_eval,
      </if>
      <if test="grade != null">
        grade,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="selfEval != null">
        #{selfEval,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        #{grade,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.dxc.activitidemo.performanceprocess.entity.EmEval">
    update em_eval
    <set>
      <if test="selfEval != null">
        self_eval = #{selfEval,jdbcType=VARCHAR},
      </if>
      <if test="grade != null">
        grade = #{grade,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.dxc.activitidemo.performanceprocess.entity.EmEval">
    update em_eval
    set self_eval = #{selfEval,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>